# This render is a replication of the docker-compose.yml

services:
  # 1. The Main n8n Instance (Web Service)
  - type: web
    name: n8n-main
    image: docker.io/n8nio/n8n:2.0.3
    env: docker
    plan: starter
    disk:
      name: n8n_data
      mountPath: /home/node/.n8n
      sizeGB: 10
    healthCheckPath: /healthz
    envVars:
      - key: N8N_PORT
        value: 5678
      - key: PORT
        value: 5678
      
      # Enable the Broker for Runners on a separate port
      - key: N8N_RUNNERS_ENABLED
        value: true
      - key: N8N_RUNNERS_MODE
        value: external
      - key: N8N_RUNNERS_BROKER_LISTEN_ADDRESS
        value: 0.0.0.0
      - key: N8N_RUNNERS_BROKER_PORT
        value: 5679
      
      - key: N8N_RUNNERS_AUTH_TOKEN
        generateValue: true

  # 2. The Runners (Private Service)
  - type: pserv
    name: n8n-runners
    image: docker.io/n8nio/runners:2.0.3
    env: docker
    plan: starter
    envVars:
      - key: N8N_RUNNERS_AUTH_TOKEN
        fromService:
          type: web
          name: n8n-main
          envVarKey: N8N_RUNNERS_AUTH_TOKEN
      - key: N8N_RUNNERS_TASK_BROKER_URI
        value: http://n8n-main:5679